.items-list


.item__votes
  width: 10%
  text-align: center !important

.item__actions
  width: 10%
  text-align: right !important

.item__delete
  color: $alert-color
  text-decoration: none

.item__edit
  color: $primary-color
  text-decoration: none
  margin-right: 10px
